body {
    font-family: 'Inter', sans-serif;
    background: #f5f1e8;
}

.blocks {
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.lists {
    color: #ffffff;
    background: #878a98;
    padding: 20px;
    margin: 20px;
    border: 1px dotted grey;
    flex-grow: 1;
}

a  {
    color: #ffffff;
    text-decoration: none;
} 

a:hover  {
    color: #1c254a;
} 

a:visited {
    color: #f5f1e8;
} 


h1 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 42px;
    background: #1c254a;
    padding: 20px;
    border: 1px dotted grey;
    margin: 50px 20px 30px 20px;
}

h2 {
    margin-left: 20px;
    margin-bottom: 0;
    padding-left: 20px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Playfair Display', serif;
}

ul {
    list-style-type: square;
}

.signature {
    font-family: 'Satisfy', cursive;
    font-size: 48px;
}

.footer {
    color: black;
}