main {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Sen', sans-serif;
}

img {
  width: 150px;
  margin: 0 25px;
}

a {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

#frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pics {
  width: 200px;
  text-align: center;
}
