form {
  margin-left: 30px;
}

label {
  display: block;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  }

input {
  display: block;
  border: 4px solid lime;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 25px;
}

button {
  display: block;
  background: lime;
  border: lime;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}