p {
  background: #0D91A1;
  color: #015668;
  margin: 20px;
  padding: 15px;
  border: 5px solid #7DCE94;
  width: 300px;
  height: 70px;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

